$link-color: #EE3D42;
$btn-primary-color: #EE3D42;

$body-background-color: #ffffff;
$sidebar-color: #f7f6f5;

$body-heading-color: #231f20;
$body-text-color: #4a4543;

$nav-child-link-color: #5f5854;
$border-color: #e5e2e0;
